.parent {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.parent h2 {
    text-align: center;
    width: 100%;
}

.article-card {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: space-between;
    width:300px !important; /* only try to use it sparringly*/
    height: 367px !important; /* only try to use it sparringly*/
    flex-wrap: wrap;
}

.article-card img {
	height: 150px !important;
	object-fit: cover;
}
.article-card:hover{
    outline:10px solid #63b54c;
}

.card-link{
    text-decoration: none;
    color: #000;
}

.card-container{
    display: flex;
    flex-wrap: wrap;           
    justify-content: center; 
    gap: 1rem;                
    padding: 1rem;
}

.card-title {
    /* text-align: center; */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
    line-clamp: 2;
}

.button-container{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

#articles-button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    display: flex;
    justify-content: space-evenly;
}