header{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 1rem;
    margin-top: 1rem;
}
.site-logo{
    height: 140px;
    width: auto;
}
.title-and-slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
}